# Configuración de Secretos Phoenix (Plantilla)
# Copia este archivo como .secrets y rellena tus datos
HTB_TOKEN=pon_aqui_tu_token_de_htb
NORD_USER=tu_correo_de_nordvpn
VPN_PASS=tu_password_de_nordvpn
